@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300&display=swap');

body {
 display: flex;
 flex-direction: column;
 max-width: 1440px;
 max-height: auto;
 margin: 0;
 font-family: Roboto, sans-serif;
}

.header {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
 background-color: #1F2937;
 height: 60px;
 width: 1240px;
 padding: 0px 100px;
}

.title {
 display: flex;
 font-size: 24px;
 color: #F9FAF8;
 font-weight: 700;
}

.header-link {
 display: flex;
 flex-direction: row;
 gap: 20px;
 font-size: 18px;
 color: #E5E7EB;
}

.top-container {
 display: flex;
 flex-direction: row;
 align-items: center;
 height: 500px;
 width: 1240px;
 background-color: #1F2937;
 padding: 0px 100px;
 gap: 50px;
}

.top-text {
 display: flex;
 flex-direction: column;
 gap: 10px;
 align-items: start;
}

.hero-text {
 font-size: 48px;
 font-weight: 1000;
 color: #F9FAF8;
}

.hero-subtext {
 font-size: 18px;
 color: #E5E7EB;
 max-width: 100%;
}

.top-sign-up {
 background-color: #3882F6;
 border-radius: 10px;
 border: none;
 width: 150px;
 height: 40px;
 text-align: center;
 color: #E5E7EB;
 font-weight: bold;
 font-size: 18px;
}

.second-container {
 display: flex;
 flex-direction: column;
 height: 450px;
 width: 1440px;
 align-items: center;
 gap: 50px;
 padding-top: 50px;
}

.image-gallery-title {
 font-size: 36px;
 font-weight: 1000;
 color: #1F2937;
}

.img-gallery{
 width: 180px;
 height: 180px;
 border: 5px solid #3882F6;
 border-radius: 20px;
 margin-bottom: 10px;
}

.gallery-container {
 display: flex;
 flex-direction: row;
 justify-content: center;
 width: 1440px;
 gap: 60px;
}

.image-gallery {
 text-align: center;
 align-items: center;
 width: 180px;
 color: #1F2937;
}

.third-container {
 display: flex;
 flex-direction: column;
 height: 450px;
 width: 1440px;
 align-items: center;
 justify-content: center;
 background-color: #E5E7EB;
}

.quote {
 width: 850px;
 color: #1F2937;
 font-size: 36px;
 font-weight: 300;
}

.quote-author {
 display: flex;
 width: 750px;
 justify-content: flex-end;
}

.quote-author-text {
 font-size: 25px;
 color: #1F2937;
 font-weight: 700;
}

.fourth-container {
 display: flex;
 color: white;
 height: 450px;
 width: 1440px;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}

.sign-up-container {
 display: flex;
 background-color: #3882F6;
 width: 900px;
 height: 150px;
 border-radius: 10px;
 justify-content: space-between;
 align-items: center;
 padding: 0px 150px;
}

.call-to-action {
 font-size: 26px;
 font-weight: 700;
}

.click-that-button {
 font-size: 18px;
 color: #E5E7EB;
}

.sign-up-button-bottom {
 background-color: #3882F6;
 border-radius: 8px;
 border: 2px solid white;
 width: 140px;
 height: 40px;
 text-align: center;
 color: white;
 font-weight: bold;
 font-size: 18px;
}
